{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <h1>Karl (Charlie) Wellington</h1>
    <h2>Mathematician / Ecologist</h2>
    <h3>Bachelor of Advanced Science: <br>
        James Cook University</h3>
    <p>Hello, My name is Charlie. <br>
        I have been studying at JCU since 2019. <br>
        I have a passion for mathematics and ecology. <br>
        I also have experience in teaching and programing.</p>
    <h4>email: karl.wellington@my.jcu.edu.au</h4>
{% endblock %}
